<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Поиск по Excel файлам</title>

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>

    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <style>
        #excelFile ~ .custom-file-label::after {
            content: 'Выбрать'
        }
    </style>
</head>
<body>
    <div id="app"></div>

    <!-- Vue JS -->
    <script src="{{ url_for('static', filename='js/lib/vue.min.js') }}"></script>

    <!-- Excel Parse -->
    <script src="{{ url_for('static', filename='js/lib/jszip.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/xlsx.js') }}"></script>

    <!-- App JS -->
    <script src="{{ url_for('static', filename='js/app.js') }}" type="module"></script>
</body>
</html>
